<% years = bib.all_values(:year).sort.reverse; years.each do |year| %>
<% lst = bib["@entry[year=#{year}]"] %>
<h3 class="year">
    <%= year %>
</h3>
<ol>
    <% lst.each do |entry| %>
    <p class="bibitem">
        <%= embed("entry.rhtml", :entry => entry) %>
    </p>
    <% end %>
</ol>
<% end %>