<aside>
    <div class="radius b30">
        <img src="{{ site.urlimg }}ewan.png" alt="Photograph of Ewan Klein" width="250" height="250">
    </div>
    <div class="radius b30">
        <p class="text-left">
            <a href="https://twitter.com/ewanhklein"><i class="icon-twitter" alt="Ewan's Twitter Account"></i></a>
            <br/>
            <a href="https://uk.linkedin.com/in/ewanklein"><i class="icon-linkedin" alt="Ewan's LinkedIn Account"></i></a>
            <br/>
            <a href="https://github.com/ewan-klein"><i class="icon-github" alt="Ewan's GitHub Account"></i></a>
            <br/>
            <a href="https://orcid.org/0000-0002-0520-8447" rel="noopener noreferrer"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="ORCID ID icon"> orcid.org/0000-0002-0520-8447</a>
             <br/>
            <a href="https://scholar.google.com/citations?hl=en&user=Sh28erYAAAAJ&view_op=list_works&gmla=AJsN-F7iXaEGv2HJyn3CyvUBOo4dwNbWj7Qqd5UbTzMJpxz1I6NZ3SNRzMh2JhnunbiL22Ja9o4pcPBLxaylYM9XIz1iEzWLiioFk7G2jVU6SP11qWJQntcDJNAf5vmL2wwc-fibyxeE">Google Scholar</a>
            <br/>
        </p>
    </div>
</aside>
