<aside>
    <div class="radius b30">
        <img src="{{ site.urlimg }}ewan.png" alt="picture of ewan">
    </div>
    <div class="radius b30">
        <p class="text-left">
            <a href="https://scholar.google.com/citations?hl=en&user=Sh28erYAAAAJ&view_op=list_works&gmla=AJsN-F7iXaEGv2HJyn3CyvUBOo4dwNbWj7Qqd5UbTzMJpxz1I6NZ3SNRzMh2JhnunbiL22Ja9o4pcPBLxaylYM9XIz1iEzWLiioFk7G2jVU6SP11qWJQntcDJNAf5vmL2wwc-fibyxeE">Google Scholar</a>
            <br/>
            <a href="https://twitter.com/ewanhklein"><i class="icon-twitter"></i></a>
            <br/>
            <a href="https://uk.linkedin.com/in/ewanklein"><i class="icon-linkedin"></i></a>
            <br/>
            <a href="https://github.com/ewan-klein"><i class="icon-github"></i></a>
        </p>
    </div>
</aside>
