<aside>
    <div class="radius b30">
        <img src="{{ site.urlimg }}ewan.png" alt="picture of ewan">
    </div>
    <div class="radius b30">
        <p class="text-left">
            <a href="https://twitter.com/ewanhklein"><i class="icon-twitter"></i></a>
            <br/>
            <a href="https://uk.linkedin.com/in/ewanklein"><i class="icon-linkedin"></i></a>
            <br/>
            <a href="https://github.com/ewan-klein"><i class="icon-github"></i></a>
        </p>
    </div>
</aside>
