<h3>2013</h3>

<tr id="Alex:UTM:2013" class="entry">
	<td><p>
  Alex B, Grover C, Klein E, Llewellyn C and Tobin R (2013), "User-driven Text Mining of Historical Text", In <i>Working with text: Tools, techniques and approaches for text mining.</i> Cambridge  Chandos.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Duma:GNL:2013" class="entry">
	<td><p>
  Duma D and Klein E (2013), "Generating Natural Language from Linked Data: Unsupervised template extraction", In <i>Proceedings of the 10th International Conference on Computational Semantics (IWCS 2013) -- Long Papers.</i> Potsdam, Germany, 3, 2013. , pp. 83-94. Association for Computational Linguistics.
  </p>
	<p>
   [<a href="http://www.aclweb.org/anthology/W13-0108" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Procter:2013:ESM" class="entry">
	<td><p>
  Procter R, Housley W, Williams M, Edwards A, Burnap P, Morgan J, Rana O, Klein E, Taylor M, Voss A, Choi C, Mavros P, Smith AH, Thelwall M, Ferne T and Greenhill A (2013), "Enabling Social Media Research Through Citizen Social Science", In <i>ECSCW 2013 Adjunct Proceedings: The 13th European Conference on Computer Supported Cooperative Work.</i> , pp. 51-56.
  </p>
	<p>
   [<a href="http://mkorn.binaervarianz.de/pub/ECSCW_2013_Adjunct_Proceedings-web.pdf#page=59" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2012</h3>

<tr id="Alex:2012:Digitised" class="entry">
	<td><p>
  Alex B, Klein CGE and Tobin R (2012), "Digitised Historical Text: Does it have to be mediOCRe?", In <i>Proceedings of KONVENS 2012 (LThist 2012 workshop).</i> , pp. 401-409.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Bai:2012:CWS" class="entry">
	<td><p>
  Bai X, Klein E and Robertson D (2012), "Choreographing Web Services with Semantically Enhanced Scripting", In <i>Web Intelligence and Intelligent Agent Technology (WI-IAT), 2012 IEEE/WIC/ACM International Conferences on.</i>  Vol. 1, pp. 583-587.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Bai:2012:RLS" class="entry">
	<td><p>
  Bai X, Klein E and Robertson D (2012), "RDFa2: Lightweight Semantic Enrichment for Hypertext Content", The Semantic Web.</i> , pp. 318-333.
  </p>
	<p>
   [<a href="http://www.springerlink.com/content/v178454864j48lr5/" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2011</h3>

<tr id="Hull:2011" class="entry">
	<td><p>
  Hull M, Powell D and Klein E (2011), "Infandango: Automated Grading for Student Programming", In <i>ITiCSE '11: Proceedings of the 16th Annual Joint Conference on Innovation and Technology in Computer Science Education.</i> Darmstadt, Germany, 6, 2011.  Association for Computing Machinery.
  </p>
	<p>
   [<a href="http://www.era.lib.ed.ac.uk/bitstream/1842/5206/1/infandango_note.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Klein:2011:RNE" class="entry">
	<td><p>
  Klein E (2011), "Review of "Not Exactly: In Praise of Vagueness", by Kees van Deemter", Computational Linguistics.</i>  Vol. 37, pp. 249-251.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:2011:TVC" class="entry">
	<td><p>
  Klein E and Rovatsos M (2011), "Temporal Vagueness, Coordination and Communication", In <i>Vagueness in Communication.</i> , pp. 18=08-126. Springer.
  </p>
	<p>
   [<a href="Klein2011TVC.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Pareti:2011" class="entry">
	<td><p>
  Pareti P and Klein E (2011), "Learning Vague Concepts for the Semantic Web", In <i>Proceedings of the Joint Workshop on Knowledge Evolution and Ontology Dynamics (EvoDyn 2011).</i> Bonn, Germany  Vit Novacek, Zhisheng Huang, and Tudor Groza.
  </p>
	<p>
   [<a href="http://ceur-ws.org/Vol-784/evodyn8.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2009</h3>

<tr id="Bird:2009:NLP" class="entry">
	<td><p>
  Bird S, Klein E and Loper E (2009), "Natural Language Processing with Python"</i> Sebastopol, CA  O'Reilly Media.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Byrne:2009:AEA" class="entry">
	<td><p>
  Byrne K and Klein E (2009), "Automatic Extraction of Archaeological Events from Text", In <i>Proceedings of Computer Applications in Archaeology, CAA 2009.</i> Williamsburg, Virginia 
  </p>
	<p>
   [<a href="http://homepages.inf.ed.ac.uk/kbyrne3/docs/byrneKleinCAA2009.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Garrette:2009" class="entry">
	<td><p>
  Garrette D and Klein E (2009), "An Extensible Toolkit for Computational Semantics", In <i>IWCS-8 2009 Proceedings of the Eighth International Conference on Computational Semantics.</i>  Association for Computational Linguistics.
  </p>
	<p>
   [<a href="http://dl.acm.org/ft_gateway.cfm?id=1693770\&type=pdf\&CFID=124343770\&CFTOKEN=78050575" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Ritterman:2009:UPM" class="entry">
	<td><p>
  Ritterman J, Osborne M and Klein E (2009), "Using Prediction Markets and Twitter to Predict a Swine Flu Pandemic", In <i>1st International Workshop on Mining Social Media, November 2009.</i> Seville, Spain 
  </p>
	<p>
   [<a href="http://www.iccs.inf.ed.ac.uk/~osborne/papers/swine09.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2008</h3>

<tr id="Alex:2008:ACD" class="entry">
	<td><p>
  Alex B, Grover C, Haddow B, Kabadjov M, Klein E, Matthews M, Roebuck S, Tobin R and Xinglong W (2008), "Assisted Curation: Does Text Mining Really Help?", In <i>BIOCOMPUTING 2008: Proceedings of the Pacific Symposium on Biocomputing.</i> Kohala Coast, Hawaii, USA 
  </p>
	<p>
   [<a href="http://psb.stanford.edu/psb-online/proceedings/psb08/alex.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Alex:2008:ITC" class="entry">
	<td><p>
  Alex B, Grover C, Haddow B, Kabadjov M, Klein E, Matthews M, Tobin R and Wang X (2008), "The ITI TXM Corpora: Tissue Expressions and Protein-Protein Interactions", In <i>Proceedings of the Workshop on Building and Evaluating Resources for Biomedical Text Mining at the 6th International Conference on Language Resources and Evaluation (LREC 2008).</i> Marrakech, Morocco 
  </p>
	<p>
   [<a href="http://www.ltg.ed.ac.uk/np/publications/ltg/papers/Alex2008Corpora.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Alex:2008:ACU" class="entry">
	<td><p>
  Alex B, Grover C, Haddow B, Kabadjov M, Klein E, Matthews M, Tobin R and Wang X (2008), "Automating Curation Using a Natural Language Processing Pipeline", Genome Biology.</i>  Vol. 9(Suppl 2), pp. S10.
  </p>
	<p>
   [<a href="http://genomebiology.com/2008/9/S2/S10" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Bird:2008:" class="entry">
	<td><p>
  Bird S, Klein E, Loper E and Baldridge J (2008), "Multidisciplinary instruction with the Natural Language Toolkit", In <i>Proceedings of the Third Workshop on Issues in Teaching Computational Linguistics.</i> Columbus, Ohio, USA , pp. 62-70.
  </p>
	<p>
   [<a href="http://www.aclweb.org/anthology/W/W08/W08-0208.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Shen:2008" class="entry">
	<td><p>
  Shen R, Nahnsen T, Grover C and Klein E (2008), "Recognising Textual Entailment Focusing on Non-Entailing Text and Hypothesis", TAC 2008: Proceedings of the Fourth PASCAL Challenges Workshop on Recognizing Textual Entailment.</i> 
  </p>
	<p>
   [<a href="http://www.nist.gov/tac/publications/2008/participant.papers/uoeltg.proceedings.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2007</h3>

<tr id="Grover:2007:ARE" class="entry">
	<td><p>
  Grover C, Haddow B, Klein E, Matthews M, Nielsen LA, Tobin R and Wang X (2007), "Adapting a Relation Extraction Pipeline for the BioCreAtIvE II Task", In <i>Proceedings of the BioCreAtIvE II Workshop 2007.</i> Madrid, Spain 
  </p>
	<p>
   [<a href="http://www.ltg.ed.ac.uk/np/publications/ltg/papers/Grover2007Adapting.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2006</h3>

<tr id="Klein:2006:CSN" class="entry">
	<td><p>
  Klein E (2006), "Computational Semantics in the <i>Natural Language Toolkit</i>", In <i>Proceedings of the 2006 Australasian Language Technology Workshop 2006 (ALTW).</i> Sydney , pp. 26-41.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="McNeill:2006:MSS" class="entry">
	<td><p>
  McNeill F, Halpin H, Klein E and Bundy A (2006), "Merging Stories with Shallow Semantics", In <i>Proceedings of the Workshop on Knowledge and Reasoning for Language Processing (KRAQ'06): 11th Conference of the European Chapter of the Association for Computational Linguistics.</i> Trento, Italy , pp. 37-42. Association for Computational Linguistics.
  </p>
	<p>
   [<a href="http://acl.ldc.upenn.edu/W/W06/W06-1807.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Suh:2006:ECS" class="entry">
	<td><p>
  Suh S, Halpin H and Klein E (2006), "Extracting Common Sense Knowledge from Wikipedia", Proceedings of the Workshop on Web Content Mining with Human Language Technologies at ISWC.</i>  Vol. 6
  </p>
	<p>
   [<a href="http://dx.doi.org/10.1.1.130.5657" target="_blank">DOI</a>] [<a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.130.5657%5C&rep=rep1%5C&type=pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2005</h3>

<tr id="Carroll:2005:STM" class="entry">
	<td><p>
  Carroll J, Evans R and Klein E (2005), "Supporting text mining for e-Science: the challenges for Grid-enabled natural language processing", In <i>Proceedings of the Fourth UK e-Science Programme All Hands Meeting (AHM 2005).</i> Nottingham 
  </p>
	<p>
   [<a href="http://www.allhands.org.uk/2005/proceedings/papers/405.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Hachey:2005:SSIE" class="entry">
	<td><p>
  Hachey B, Becker M, Grover C and Klein E (2005), "Selective Sampling for Information Extraction with a Committee of Classifiers", In <i>First PASCAL Challenges Workshop.</i> Southampton, UK 
  </p>
	<p>
   [<a href="http://www.ltg.ed.ac.uk/np/publications/ltg//papers/Hachey2005Selective-presentation.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Riedel:2005:GIE" class="entry">
	<td><p>
  Riedel S and Klein E (2005), "Genic Interaction Extraction with Semantic and Syntactic Chains", In <i>Proceedings of the Workshop on Learning Language in Logic (LLL05), 22nd International Conference on Machine Learning (ICML 2005), 7 August 2005, Bonn.</i> , pp. 69-74.
  </p>
	<p>
   [<a href="http://www.cs.york.ac.uk/aig/lll/lll05/lll05-riedel.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2004</h3>

<tr id="Bugmann:2004:CBR" class="entry">
	<td><p>
  Bugmann G, Klein E, Lauria S and Kyriacou T (2004), "Corpus-based Robotics: A Route Instruction Example", In <i>8th International Conference on Intelligent Autonomous Systems (IAS-8.</i> Amsterdam, The Netherlands  Vol. 8, pp. 96-103. IOS Press.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Grover:2004:FTM" class="entry">
	<td><p>
  Grover C, Halpin H, Klein E, Leidner JL, Potter S, Riedel S, Scrutchin S and Tobin R (2004), "A Framework for Text Mining Services", In <i>Proceedings of the Third UK e-Science Programme All Hands Meeting (AHM 2004).</i> Nottingham 
  </p>
	<p>
   [<a href="Grover2004FTM.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Hughes:2004:EDI" class="entry">
	<td><p>
  Hughes B, Bird S, Lee H and Klein E (2004), "Experiments with Data-intensive NLP on a Computational Grid", Proceedings of the International Workshop on Human Language Technology.</i> 
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:2004:ONS" class="entry">
	<td><p>
  Klein E and Potter S (2004), "An Ontology for NLP Services", In <i>Proceedings of Workshop on a Registry of Linguistic Data Categories within an Integrated Language Resource Repository Area, LREC 2004.</i>, 5, 2004. 
  </p>
	<p>
   [<a href="Klein2004ONS.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>

<h3>2003</h3>

<tr id="Bos:2003:DDF" class="entry">
	<td><p>
  Bos J, Klein E, Lemon O and Oka T (2003), "DIPPER: Description and Formalisation of an Information-State Update Dialogue System Architecture", In <i>4th SIGdial Workshop on Discourse and Dialogue, ACL.</i> Sapporo 
  </p>
	<p>
   [<a href="http://www.ltg.ed.ac.uk/dsea/PUBLICATIONS/dipper.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Bos:2003:MCW" class="entry">
	<td><p>
  Bos J, Klein E and Oka T (2003), "Meaningful Conversation with a Mobile Robot", In <i>Proceedings of the 10th Conference of the European Chapter of the Association for Computational Linguistics (EACL10).</i> Budapest, 4, 2003. , pp. 71-74.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Byrne:2003:IRU" class="entry">
	<td><p>
  Byrne K and Klein E (2003), "Image Retrieval Using Natural Language and Content-Based Techniques", In <i>Proceedings of the 4th Dutch-Belgian Information Retrieval Wrokshop (DIR 2003).</i>, 12, 2003. , pp. 57-62.
  </p>
	<p>
   [<a href="Byrne2003IRU.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Cathcart:2003:SMB" class="entry">
	<td><p>
  Cathcart N, Carletta J and Klein E (2003), "A Shallow Model of Backchannel Continuers in Spoken Dialogue", In <i>Proceedings of the 10th Conference of the European Chapter of the Association for Computational Linguistics (EACL10).</i> Budapest, 4, 2003. , pp. 51-58.
  </p>
	<p>
   [<a href="Cathcart2003SMB.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Klein:2003:WSC" class="entry">
	<td><p>
  Klein E (2003), "Why Should a Computer be Anything like a Human Being?", i3 Magazine.</i> , pp. 31-32.
  </p>
	<p>
   [<a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.102.8768%5C&rep=rep1%5C&type=pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>2002</h3>

<tr id="Asudeh:2002:SCP" class="entry">
	<td><p>
  Asudeh A and Klein E (2002), "Shape conditions and phonological context", In <i>Proceedings of the 8th International Conference on Head-Driven Phrase Structure Grammar.</i> Stanford, CA , pp. 20-30. CSLI Publications.
  </p>
	<p>
   [<a href="http://cslipublications.stanford.edu/HPSG/2/Ash-Klein-pn.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Atterer:2002:ILP" class="entry">
	<td><p>
  Atterer M and Klein E (2002), "Integrating Linguistic and Performance-Based Constraints for Assigning Phrase Breaks", In <i>Proceedings of Coling 2002.</i> , pp. 29-35.
  </p>
	<p>
   [<a href="http://acl.ldc.upenn.edu/coling2002/proceedings/data/area-22/co-247.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Bugmann:2002:IBL" class="entry">
	<td><p>
  Bugmann G, Lauria S, Kyriacou T, Bos J and Klein E (2002), "Instruction-based Learning for Mobile Robots", In <i>ACDM 2002: Proceedings of 5th International Conference on Adaptive Computing in Design and Manufacture.</i> 
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Grover:2002:XNT" class="entry">
	<td><p>
  Grover C, Klein E, Lascarides A and Lapata M (2002), "XML-based NLP Tools for Analysing and Annotating Medical Language", In <i>Proceedings of the 2nd Workshop on NLP and XML (NLPXML-2002), Coling 2002.</i> , pp. 29-36.
  </p>
	<p>
   [<a href="http://www.ltg.ed.ac.uk/papers/nlpxml02.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Lauria:2002:MRP" class="entry">
	<td><p>
  Lauria S, Bugmann G, Kyriacou T and Klein E (2002), "Mobile Robot Programming Using Natural Language", Robotics and Autonomous Systems.</i>  Vol. 38(3/4), pp. 171-181.
  </p>
	<p>
   [<a href="Lauria2002MRP.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Lauria:2002:CNL" class="entry">
	<td><p>
  Lauria S, Kyriacou T, Bugmann G, Bos J and Klein E (2002), "Converting Natural Language Route Instructions into Robot-Executable Procedures", In <i>Proceedings of the 2002 IEEE International Workshop on Robot and Human Interactive Communication (Roman'02).</i> Berlin , pp. 223-228.
  </p>
	<p>
   [<a href="Lauria2002CNL.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Theobalt:2002:TGD" class="entry">
	<td><p>
  Theobalt C, Bos J, Chapman T, Espinosa-Romero A, Fraser M, Hayes G, Klein E, Oka T and Reeve R (2002), "Talking to Godot: Dialogue with a Mobile Robot", In <i>Proceedings of 2002 IEEE/RSJ International Conference on Intelligent Robots and System.</i> , pp. 1338-1343.
  </p>
	<p>
   [<a href="Theobalt:2002:TGD.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>

<h3>2001</h3>

<tr id="Bugmann:2001:UVI" class="entry">
	<td><p>
  Bugmann G, Lauria S, Kyriacou T, Klein E, Bos J and Coventry K (2001), "Using Verbal Instruction for Route Learning: Instruction Analysis", In <i>Proceedings of TIMR 01 --- Towards Intelligent Mobile Robots.</i> Manchester 
  </p>
	<p>
   [<a href="Bugmann2001UVI.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Ellison:2001:BAP" class="entry">
	<td><p>
  Ellison TM and Klein E (2001), "The Best of All Possible Words (Review Article)", Journal of Linguistics.</i>  Vol. 37(1), pp. 127-143.
  </p>
	<p>
   [<a href="Ellison2001BAP.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Lauria:2001:TPR" class="entry">
	<td><p>
  Lauria S, Bugmann G, Kyriacou T, Bos J and Klein E (2001), "Training Personal Robots Using Natural Language Instruction", IEEE Intelligent Systems.</i>  Vol. 16(3), pp. 38-45.
  </p>
	<p>
   [<a href="Lauria2001TPR.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Lauria:2001:IBL" class="entry">
	<td><p>
  Lauria S, Bugmann G, Kyriacou T and Klein E (2001), "Instruction Based Learning: how to instruct a personal robot to find HAL", In <i>Procedings of the 9th European Workshop on Learning Robots (EWLR-9).</i> Prague, 9, 2001. , pp. 15-24.
  </p>
	<p>
   [<a href="Lauria2001IBL.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>

<h3>2000</h3>

<tr id="Grover:2000:DCL" class="entry">
	<td><p>
  Grover C, Holt A, Klein E and Moens M (2000), "Designing a Controlled Language for Interactive Model Checking", In <i>CLAW 2000: Proceedings of the Third International Workshop on Controlled Language Applications, 29-30 April 2000.</i> Seattle, 4, 2000. , pp. 90-104.
  </p>
	<p>
   [<a href="http://www.ltg.ed.ac.uk/prosper/papers/grover-2000-dcl/pdf/" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Holt:2000:NLS" class="entry">
	<td><p>
  Holt A, Klein E and Grover C (2000), "Natural Language Specifications for Hardware Verification", Journal of Language and Computation.</i>  Vol. 1(2), pp. 275-282.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:2000:PCH" class="entry">
	<td><p>
  Klein E (2000), "Prosodic Constituency in HPSG", In <i>Grammatical Interfaces in HPSG.</i> , pp. 169-200. CSLI Publications.
  </p>
	<p>
   [<a href="Klein2000PCH.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Klein:2000:CBA" class="entry">
	<td><p>
  Klein E (2000), "A Constraint-based Approach to English Prosodic Constituents", In <i>38th Annual Meeting of the Association for Computational Linguistics: Proceedings of the Conference: 1--8 October 2000, Hong Kong.</i> , pp. 217-224. Association for Computational Linguistics.
  </p>
	<p>
   [<a href="Klein2000CBA.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>

<h3>1999</h3>

<tr id="Holt:1999:SDS" class="entry">
	<td><p>
  Holt A and Klein E (1999), "A Semantically-derived Subset of English for Hardware Verification", In <i>37th Annual Meeting of the Association for Computational Linguistics: Proceedings of the Conference: 20--26 June 1999, University of Maryland, College Park, Maryland, USA.</i> , pp. 451-456.
  </p>
	<p>
   [<a href="http://www.ltg.ed.ac.uk/prosper/papers/holt-1999-sds/pdf/" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Holt:1999:NLH" class="entry">
	<td><p>
  Holt A, Klein E and Grover C (1999), "Natural Language for Hardware Verification: Semantic Interpretation and Model Checking", In <i>Proceedings of ICoS-1: Inference in Computational Semantics, August 15, 1999.</i> Amsterdam, 8, 1999. , pp. 133-137. Institute for Logic, Language and Computation, University of Amsterdam.
  </p>
	<p>
   [<a href="http://www.ltg.ed.ac.uk/prosper/papers/holt-1999-nlh/pdf/" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>1995</h3>

<tr id="Klein:1995:ACF" class="entry">
	<td><p>
  Klein E (1995), "Alignment Constraints in French", In <i>Papers on Stress, Accent, and Alignment.</i>  Vol. 4, pp. 13-20. Linguistics Research Center, UCSC.
  </p>
	<p>
   [<a href="Klein:1995:ACF.ps" target="_blank">PDF</a>]
  </p>
	</td>
</tr>

<h3>1994</h3>

<tr id="Bird:1994:PAT" class="entry">
	<td><p>
  Bird S and Klein E (1994), "Phonological Analysis in Typed Feature Systems", Computational Linguistics.</i>  Vol. 20(3), pp. 455-491.
  </p>
	<p>
   [<a href="Bird1994PAT.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>

<h3>1993</h3>

<tr id="Bird:1993:EHP" class="entry">
	<td><p>
  Bird S and Klein E (1993), "Enriching HPSG phonology"</i>. Thesis at: University of Edinburgh, June, 1993. (EUCCS/RP-56)
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Kamareddine:1993:NPT" class="entry">
	<td><p>
  Kamareddine F and Klein E (1993), "Nominalization, Predication and Type Containment", Journal of Logic, Language and Information.</i>  Vol. 2, pp. 171-215.
  </p>
	<p>
   [<a href="Kamareddine1993NPT.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Klein:1993:SMV" class="entry">
	<td><p>
  Klein E (1993), "An HPSG Approach to Sierra Miwok Verb Stems", In <i>Edinburgh Working Papers in Cognitive Science, Vol.&nbsp;8: Computational Phonology.</i> , pp. 19-35. Centre for Cognitive Science, University of Edinburgh.
  </p>
	<p>
   [<a href="Klein:1993:HAS.ps" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Gazdar:1993:OCC" class="entry">
	<td><p>
   (1993), "Order, Concord, and Constituency"</i> Dordrecht  Foris.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1992</h3>

<tr id="Bernsen:1992:ESR" class="entry">
	<td><p>
  Bernsen NO, Granstr&ouml;m B, Giachin E, Klein E, Mariani J, Nooteboom S, Thompson H and Uszkoreit H (1992), "European Strategic Research in Speech and Natural Language"</i>. Thesis at: European Network of Excellence for Language and Speech Edinburgh, August, 1992. 
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Kamareddine:1992:NPT" class="entry">
	<td><p>
  Kamareddine F and Klein E (1992), "Nominalization, Predication and Type Containment"</i>. Thesis at: University of Edinburgh, May, 1992. (HCRC/RP-30)
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1992:M" class="entry">
	<td><p>
  Klein E (1992), "Metarules", In <i>International Encyclopedia of Linguistics.</i> Oxford  Oxford University Press.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1992:DRD" class="entry">
	<td><p>
  Klein E, Moens M and Veltman F (1992), "Default Reasoning and Dynamic Interpretation of Natural Language", In <i>Non-Monotonic Reasoning and Partial Semantics.</i> Chichester , pp. 21-36. Ellis Horwood.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1991</h3>

<tr id="Kamareddine:1991:NPT" class="entry">
	<td><p>
  Kamareddine F and Klein E (1991), "Nominalization, Predication and Type Containment"</i>. Thesis at: University of Glasgow Glasgow, July, 1991. (CSC 91/R12)
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1991:PDT" class="entry">
	<td><p>
  Klein E (1991), "Phonological Data Types", In <i>Natural Language and Speech: Symposium Proceedings, Brussels, November 26/27, 1991.</i> Berlin  Springer-Verlag.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1991:C" class="entry">
	<td><p>
  Klein E (1991), "Comparatives", In <i>Semantics: An International Handbook of Contemporary Research.</i> Berlin , pp. 673-691. de Gruyter.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1991:PSA" class="entry">
	<td><p>
  Klein E and Bird S (1991), "Phonological Structure and Abstract Specification", In <i>Actes du XII&egrave;me Congr&egrave;s International des Sciences Phon&eacute;tiques.</i> Aix-en-Provence  Vol. 5, pp. 110-113. Publications de l'Universit&eacute; de Provence.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Pineda:1991:GLL" class="entry">
	<td><p>
  Pineda LA and Klein E (1991), "A Graphical and Logical Language for a Simple Design Domain", In <i>Intelligent CAD Systems III: Practical Experience and Evaluation.</i> Berlin , pp. 103-130. Springer-Verlag.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Zeevat:1991:UCG" class="entry">
	<td><p>
  Zeevat H, Klein E and Calder J (1991), "Unification Categorial Grammar", Lingua e Stile.</i>, 12, 1991.  Vol. 26(4), pp. 499-527.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1991:NLS" class="entry">
	<td><p>
   (1991), "Natural Language and Speech: Symposium Proceedings, Brussels, November 26/27, 1991"</i> Berlin  Springer-Verlag.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1990</h3>

<tr id="Bird:1990:PE" class="entry">
	<td><p>
  Bird S and Klein E (1990), "Phonological Events", Journal of Linguistics.</i>  Vol. 26, pp. 33-56.
  </p>
	<p>
   [<a href="Bird1990PE.pdf" target="_blank">PDF</a>]
  </p>
	</td>
</tr>


<tr id="Klein:1990:SGI" class="entry">
	<td><p>
  Klein E and Pineda LA (1990), "Semantics and Graphical Information", In <i>Human-Computer Interaction---INTERACT '90: Proceedings of the Third IFIP Conference.</i> New York , pp. 485-491. Elsevier.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Veltman:1990:DRD" class="entry">
	<td><p>
  Veltman F, Klein E and Moens M (1990), "Default Reasoning and Dynamic Interpretation of Natural Language", In <i>ESPRIT 90: Proceedings of the 7th Annual ESPRIT Conference.</i> Brussels, 11, 1990. , pp. 52-65.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1989</h3>

<tr id="Bird:1989:PE" class="entry">
	<td><p>
  Bird S and Klein E (1989), "Phonological Events"</i>. Thesis at: University of Edinburgh, January, 1989. (EUCCS/RP-24)
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1989:GF" class="entry">
	<td><p>
  Klein E (1989), "Grammar Frameworks", In <i>Logic and Linguistics Vol.&nbsp;2: Research Directions in Cognitive Science: European Perspectives.</i> Hillsdale, N.J. , pp. 71-107. Lawrence Erlbaum Associates.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1989:DIN" class="entry">
	<td><p>
  Klein E and Moens M (1989), "The Dynamic Interpretation of Natural Language", In <i>ESPRIT '89: Proceedings of the 6th Annual ESPRIT Conference.</i> Dordrecht , pp. 1100-1107. Kluwer.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1989:DD" class="entry">
	<td><p>
  Klein E and Moens M (1989), "Dialogue and Discourse", In <i>ESPRIT '89: Proceedings of the 6th Annual ESPRIT Conference.</i> Dordrecht , pp. 1112-1117. Kluwer.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1989:NMVb" class="entry">
	<td><p>
  Klein E and Stainton-Ellis K (1989), "A Note on Multiple VP Ellipsis", Linguistics.</i>  Vol. 27, pp. 1119-1124.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Moens:1989:EGU" class="entry">
	<td><p>
  Moens M, Calder J, Klein E, Reape M and Zeevat H (1989), "Expressing Generalizations in Unification-based Grammar Formalisms", In <i>Proceedings of the 4th Conference of the European Chapter of the Association for Computational Linguistics.</i>, 4, 1989. , pp. 174-181.
  </p>
	<p>
   [<a href="http://acl.ldc.upenn.edu/E/E89/E89-1024.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>

<h3>1988</h3>

<tr id="Calder:1988:UCG" class="entry">
	<td><p>
  Calder J, Klein E and Zeevat H (1988), "Unification Categorial Grammar: A Concise, Extendable Grammar for Natural Language Processing", In <i>Proceedings of the 12th International Conerence on Computational Linguistics.</i> Budapest, 8, 1988. 
  </p>
	<p>
   [<a href="http://acl.ldc.upenn.edu/C/C88/C88-1018.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Gazdar:1988:CS" class="entry">
	<td><p>
  Gazdar G, Pullum GK, Carpenter R, Klein E, Hukari TE and Levine RD (1988), "Category Structures", Computational Linguistics.</i>  Vol. 14(1), pp. 1-19.
  </p>
	<p>
   [<a href="http://acl.ldc.upenn.edu/J/J88/J88-1001.pdf" target="_blank">URL</a>]
  </p>
	</td>
</tr>


<tr id="Pineda:1988:GUD" class="entry">
	<td><p>
  Pineda LA, Klein E and Lee J (1988), "GRAFLOG: Understanding Drawings through Natural Language", Computer Graphics Forum.</i>  Vol. 7, pp. 97-103.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1987</h3>

<tr id="Calder:1987:PDP" class="entry">
	<td><p>
  Calder J, Klein E, Moens M and Zeevat H (1987), "Problems of Dialogue Parsing"</i>. Thesis at: University of Edinburgh, 5, 1987. (EUCCS/RP-1)
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Gazdar:1987:CS" class="entry">
	<td><p>
  Gazdar G, Pullum GK, Carpenter R, Klein E, Hukari TE and Levine RD (1987), "Category Structures"</i>. Thesis at: Center for the Study of Language and Information Stanford, Ca., 7, 1987. (CSLI-87-102)
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1987:VED" class="entry">
	<td><p>
  Klein E (1987), "VP Ellipsis in DR Theory", In <i>Studies in Discourse Representation Theory and the Theory of Generalized Quantifiers.</i> Dordrecht (8) Foris Publications.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1987:DUC" class="entry">
	<td><p>
  Klein E (1987), "DRT in Unification Categoria Grammar", In <i>Proceedings of Alvey Workshop on Formal Semantics in Natural Language Processing, March 6 1987.</i> 
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Zeevat:1987:UCG" class="entry">
	<td><p>
  Zeevat H, Klein E and Calder J (1987), "Unification Categorial Grammar"</i>. Thesis at: University of Edinburgh, 12, 1987. (EUCCS/RP-21)
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Calder:1987:NLP" class="entry">
	<td><p>
   (1987), "Natural Language Processing, Unification and Grammar Formalisms: Proceedings of an Alvey/SERC Sponsored Workshop, held at University of Stirling, June 10--12, 1987"</i>  Centre for Cognitive Science, University of Edinburgh.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1987:CPU" class="entry">
	<td><p>
   (1987), "Categories, Polymorphism and Unification"</i>  Centre for Cognitive Science, University of Edinburgh and Institute for Language, Logic and Information, University of Amsterdam.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1986</h3>

<tr id="Johnson:1986:DAP" class="entry">
	<td><p>
  Johnson M and Klein E (1986), "Discourse, Anaphora and Parsing", In <i>Proceedings of the 11th International Conference on Computational Linguistics.</i> Bonn, 8, 1986. , pp. 669-675.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Johnson:1986:DAPb" class="entry">
	<td><p>
  Johnson M and Klein E (1986), "Discourse, Anaphora and Parsing"</i>. Thesis at: Center for the Study of Language and Information Stanford, Ca., 10, 1986. (CSLI-86-63)
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1985</h3>

<tr id="Gazdar:1985:GPS" class="entry">
	<td><p>
  Gazdar G, Klein E, Pullum G and Sag I (1985), "Generalized Phrase Structure Grammar"</i> London  Basil Blackwell.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1985:TDT" class="entry">
	<td><p>
  Klein E and Sag IA (1985), "Type-driven Translation", Linguistics and Philosophy.</i>  Vol. 8, pp. 163-201.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1982</h3>

<tr id="Gazdar:1982:CSU" class="entry">
	<td><p>
  Gazdar G, Klein E, Pullum GK and Sag IA (1982), "Coordinate Structure and Unbounded Dependencies", In <i>Developments in Generalized Phrase Structure Grammar: Stanford Working Papers in Grammatical Theory.</i> Bloomington, Ind.  Vol. 2, pp. 38-68. Indiana University Linguistics Club.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1982:IAC" class="entry">
	<td><p>
  Klein E (1982), "The Interpretation of Adjectival Comparatives", Journal of Linguistics.</i>  Vol. 18, pp. 113-136.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1982:STC" class="entry">
	<td><p>
  Klein E and Sag IA (1982), "Semantic Type and Control", In <i>Developments in Generalized Phrase Structure Grammar: Stanford Working Papers in Grammatical Theory.</i> Bloomington, Ind.  Vol. 2, pp. 1-25. Indiana University Linguistics Club.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Sag:1982:SSE" class="entry">
	<td><p>
  Sag IA and Klein E (1982), "The Syntax and Semantics of English Expletive Pronoun Constructions", In <i>Developments in Generalized Phrase Structure Grammar: Stanford Working Papers in Grammatical Theory.</i> Bloomington, Ind.  Vol. 2, pp. 92-136. Indiana University Linguistics Club.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1981</h3>

<tr id="Klein:1981:SSN" class="entry">
	<td><p>
  Klein E (1981), "The Syntax and Semantics of Nominal Comparatives", In <i>Atti de Seminario su Tempo e Verbale Strutture Quantificate in Forma Logica.</i> Florence , pp. 223-253. Presso l'Accademia della Crusca.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1981:IAN" class="entry">
	<td><p>
  Klein E (1981), "The Interpretation of Adjectival, Nominal and Adverbial Comparatives", In <i>Formal Methods in the Study of Language: Part 2.</i> Amsterdam , pp. 381-398. Mathematisch Centrum.
  </p>
	<p>
  
  </p>
	</td>
</tr>


<tr id="Klein:1981:DD" class="entry">
	<td><p>
  Klein E (1981), "Defensible Descriptions", In <i>Ambiguities in Intensional Contexts.</i> Dordrecht (12), pp. 83-102. D. Reidel.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1980</h3>

<tr id="Klein:1980:SPC" class="entry">
	<td><p>
  Klein E (1980), "A Semantics for Positive and Comparative Adjectives", Linguistics and Philosophy.</i>  Vol. 4, pp. 1-45.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1979</h3>

<tr id="Klein:1979:FRA" class="entry">
	<td><p>
  Klein E (1979), "On Formalizing the Referential/Attributive Distinction", Journal of Philosophical Logic.</i>  Vol. 8, pp. 333-337.
  </p>
	<p>
  
  </p>
	</td>
</tr>

<h3>1978</h3>

<tr id="Gazdar:1978:BCL" class="entry">
	<td><p>
   (1978), "A Bibliography of Contemporary Linguistic Research"</i> New York  Garland Press.
  </p>
	<p>
  
  </p>
	</td>
</tr>

