<div id="refs" class="references">
<div id="ref-Diamantopoulos:2017:Software">
<p>Diamantopoulos, T., Roth, M., Symeonidis, A., &amp; Klein, E. (2017). Software requirements as an application domain for natural language processing. <em>Language Resources and Evaluation</em>, <em>51</em>(2), 495–524.</p>
</div>
<div id="ref-Krallinger:2017:The-BioCreative">
<p>Krallinger, M., Valencia, A., Hirschman, L., Morgan, A., Smith, L., Leitner, F., et al. (2017). The biocreative ii-critical assessment for information extraction in biology challenge. <em>Collections</em>, <em>9</em>, 2.</p>
</div>
<div id="ref-Duma:2016:Applying">
<p>Duma, D., Liakata, M., Clare, A., Ravenscroft, J., &amp; Klein, E. (2016a). Applying core scientific concepts to context-based citation recommendation. In <em>LREC</em>.</p>
</div>
<div id="ref-Duma:2016:Context">
<p>Duma, D., Sutton, C., &amp; Klein, E. (2016b). Context matters: Towards extracting a citation’s context using linguistic features. In <em>Digital libraries (jcdl), 2016 ieee/acm joint conference on</em> (pp. 201–202). IEEE.</p>
</div>
<div id="ref-Clifford:2016:Geoparsing">
<p>Clifford, J., Alex, B., Coates, C. M., Klein, E., &amp; Watson, A. (2016). Geoparsing history: Locating commodities in ten million pages of nineteenth-century sources. <em>Historical Methods: A Journal of Quantitative and Interdisciplinary History</em>, <em>49</em>(3), 115–131.</p>
</div>
<div id="ref-Pareti:2016:Linking">
<p>Pareti, P., Klein, E., &amp; Barker, A. (2016). Linking data, services and human know-how. In <em>International semantic web conference</em> (pp. 505–520). Springer, Cham.</p>
</div>
<div id="ref-Duma:2016:Rhetorical">
<p>Duma, D., Liakata, M., Clare, A., Ravenscroft, J., &amp; Klein, E. (2016c). Rhetorical classification of anchor text for citation recommendation. <em>D-Lib Magazine</em>, <em>22</em>(9/10).</p>
</div>
<div id="ref-Alex:2016:User-Driven">
<p>Alex, B., Grover, C., Klein, E., Llewellyn, C., &amp; Tobin, R. (2016). User-driven text mining of historical text. <em>Working with Text: Tools, Techniques and Approaches for Text Mining</em>, 209.</p>
</div>
<div id="ref-Pareti:2015:A-Linked">
<p>Pareti, P., Klein, E., &amp; Barker, A. (2015). A linked data scalability challenge: Concept reuse leads to semantic decay. In <em>Proceedings of the acm web science conference</em> (p. 7). ACM.</p>
</div>
<div id="ref-Roth:2015:Parsing">
<p>Roth, M., &amp; Klein, E. (2015). Parsing software requirements with an ontology-based semantic role labeler. <em>Language and Ontologies</em>, <em>15</em>.</p>
</div>
<div id="ref-Hinrichs:2015:Trading">
<p>Hinrichs, U., Alex, B., Clifford, J., Watson, A., Quigley, A., Klein, E., &amp; Coates, C. M. (2015). Trading consequences: A case study of combining text mining and visualization to facilitate document exploration. <em>Digital Scholarship in the Humanities</em>, <em>30</em>(suppl_1), i50–i75.</p>
</div>
<div id="ref-Pareti:2014:A-Linked">
<p>Pareti, P., Testu, B., Ichise, R., Klein, E., &amp; Barker, A. (2014a). A linked data approach to know-how. In <em>International conference on knowledge engineering and knowledge management (ekaw 2014)</em> (Vol. 19).</p>
</div>
<div id="ref-Pareti:2014:A-semantic">
<p>Pareti, P., Klein, E., &amp; Barker, A. (2014b). A semantic web of know-how: Linked data for community-centric tasks. In <em>Proceedings of the 23rd international conference on world wide web</em> (pp. 1011–1016). ACM.</p>
</div>
<div id="ref-Klein:2014:Bootstrapping">
<p>Klein, E., Alex, B., &amp; Clifford, J. (2014). Bootstrapping a historical commodities lexicon with SKOS and DBpedia. In <em>LaTeCH@ eacl</em> (pp. 13–21).</p>
</div>
<div id="ref-Duma:2014:Citation">
<p>Duma, D., &amp; Klein, E. (2014). Citation resolution: A method for evaluating context-based citation recommendation systems. In <em>52nd annual meeting of the association for computational linguistics</em>.</p>
</div>
<div id="ref-Guy:2014:Constructed">
<p>Guy, A., &amp; Klein, E. (2014). Constructed identity and social machines: A case study in creative media production. In <em>Proceedings of the 23rd international conference on world wide web</em> (pp. 897–902). ACM.</p>
</div>
<div id="ref-Klein:2014:Digging">
<p>Klein, E., Alex, B., Grover, C., Tobin, R., Coates, C., Clifford, J., et al. (2014). <em>Digging into data white paper: Trading consequences</em>. Trading Consequences Project.</p>
</div>
<div id="ref-Pareti:2014:Integrating">
<p>Pareti, P., Testu, B., Ichise, R., Klein, E., &amp; Barker, A. (2014c). Integrating know-how into the linked data cloud. In <em>International conference on knowledge engineering and knowledge management</em> (pp. 385–396). Springer, Cham.</p>
</div>
<div id="ref-Pareti:2014:Learning">
<p>Pareti, P., &amp; Klein, E. (2014). Learning vague concepts for the semantic web. <em>arXiv Preprint arXiv:1410.5078</em>.</p>
</div>
<div id="ref-Bai:2014:Metadata-driven">
<p>Bai, X., Haller, A., Klein, E., &amp; Robertson, D. (2014). Metadata-driven hypertext content publishing and styling. In <em>Proceedings of the 23rd international conference on world wide web</em> (pp. 221–222). ACM.</p>
</div>
<div id="ref-Roth:2014:Module">
<p>Roth, M., Klein, E., Diamantopoulos, T., &amp; Symeonidis, A. (2014a). Module for extracting software artefacts from text.</p>
</div>
<div id="ref-Llewellyn:2014:Re-using">
<p>Llewellyn, C., Grover, C., Oberlander, J., &amp; Klein, E. (2014). Re-using an argument corpus to aid in the curation of social media collections. In <em>LREC</em>.</p>
</div>
<div id="ref-Roth:2014:Software">
<p>Roth, M., Diamantopoulos, T., Klein, E., &amp; Symeonidis, A. (2014b). Software requirements: A new domain for semantic parsers.</p>
</div>
<div id="ref-Procter:2013:ESM">
<p>Procter, R., Housley, W., Williams, M., Edwards, A., Burnap, P., Morgan, J., et al. (2013). Enabling social media research through citizen social science. In M. Korn, T. Colombino, &amp; M. Lewkowicz (Eds.), <em>ECSCW 2013 adjunct proceedings: The 13th european conference on computer supported cooperative work</em> (pp. 51–56).</p>
</div>
<div id="ref-Duma:GNL:2013">
<p>Duma, D., &amp; Klein, E. (2013). Generating natural language from linked data: Unsupervised template extraction. In <em>Proceedings of the 10th international conference on computational semantics (iwcs 2013) – long papers</em> (pp. 83–94). Potsdam, Germany: Association for Computational Linguistics.</p>
</div>
<div id="ref-Alex:UTM:2013">
<p>Alex, B., Grover, C., Klein, E., Llewellyn, C., &amp; Tobin, R. (2013). User-driven text mining of historical text. In E. Tonkin &amp; S. Taylor (Eds.), <em>Working with text: Tools, techniques and approaches for text mining</em>. Cambridge: Chandos.</p>
</div>
<div id="ref-Bai:2012:CWS">
<p>Bai, X., Klein, E., &amp; Robertson, D. (2012a). Choreographing web services with semantically enhanced scripting. In <em>Web intelligence and intelligent agent technology (wi-iat), 2012 ieee/wic/acm international conferences on</em> (Vol. 1, pp. 583–587). IEEE.</p>
</div>
<div id="ref-Alex:2012:Digitised">
<p>Alex, B., Klein, C. G. E., &amp; Tobin, R. (2012). Digitised historical text: Does it have to be mediOCRe? In <em>Proceedings of konvens 2012 (lthist 2012 workshop)</em> (pp. 401–409). Oegai.</p>
</div>
<div id="ref-Bai:2012:RLS">
<p>Bai, X., Klein, E., &amp; Robertson, D. (2012b). RDFa2: Lightweight semantic enrichment for hypertext content. <em>The Semantic Web</em>, 318–333.</p>
</div>
<div id="ref-Hull:2011">
<p>Hull, M., Powell, D., &amp; Klein, E. (2011). Infandango: Automated grading for student programming. In <em>ITiCSE ’11: Proceedings of the 16th annual joint conference on innovation and technology in computer science education</em>. Darmstadt, Germany: Association for Computing Machinery; Association for Computing Machinery.</p>
</div>
<div id="ref-Pareti:2011">
<p>Pareti, P., &amp; Klein, E. (2011). Learning vague concepts for the semantic web. In <em>Proceedings of the joint workshop on knowledge evolution and ontology dynamics (evodyn 2011)</em>. Bonn, Germany: Vit Novacek, Zhisheng Huang,; Tudor Groza; Vit Novacek, Zhisheng Huang,; Tudor Groza.</p>
</div>
<div id="ref-Klein:2011:RNE">
<p>Klein, E. (2011). Review of &quot;not exactly: In praise of vagueness&quot;, by kees van deemter. <em>Computational Linguistics</em>, <em>37</em>, 249–251.</p>
</div>
<div id="ref-Klein:2011:TVC">
<p>Klein, E., &amp; Rovatsos, M. (2011). Temporal vagueness, coordination and communication. In R. Nouwen, H.-C. Schmitz, R. van Rooij, &amp; U. Sauerland (Eds.), <em>Vagueness in communication</em> (pp. 18=08–126). Springer; Springer.</p>
</div>
<div id="ref-Garrette:2009">
<p>Garrette, D., &amp; Klein, E. (2009). An extensible toolkit for computational semantics. In <em>IWCS-8 2009 proceedings of the eighth international conference on computational semantics</em>. Association for Computational Linguistics; Association for Computational Linguistics.</p>
</div>
<div id="ref-Byrne:2009:AEA">
<p>Byrne, K., &amp; Klein, E. (2009). Automatic extraction of archaeological events from text. In <em>Proceedings of computer applications in archaeology, caa 2009</em>. Williamsburg, Virginia.</p>
</div>
<div id="ref-Bird:2009:NLP">
<p>Bird, S., Klein, E., &amp; Loper, E. (2009). <em>Natural language processing with python: Analyzing text with the natural language toolkit</em>. Sebastopol, CA: O’Reilly Media.</p>
</div>
<div id="ref-Ritterman:2009:UPM">
<p>Ritterman, J., Osborne, M., &amp; Klein, E. (2009). Using prediction markets and Twitter to predict a Swine Flu pandemic. In <em>1st international workshop on mining social media, november 2009</em>. Seville, Spain.</p>
</div>
<div id="ref-Alex:2008:ACD">
<p>Alex, B., Grover, C., Haddow, B., Kabadjov, M., Klein, E., Matthews, M., et al. (2008). Assisted curation: Does text mining really help? In R. B. Altman, A. K. Dunker, L. Hunter, T. Murray, &amp; T. E. Klein (Eds.), <em>BIOCOMPUTING 2008: Proceedings of the pacific symposium on biocomputing</em>. Kohala Coast, Hawaii, USA.</p>
</div>
<div id="ref-Alex:2008:ACU">
<p>Alex, B., Grover, C., Haddow, B., Kabadjov, M., Klein, E., Matthews, M., et al. (2008a). Automating curation using a natural language processing pipeline. <em>Genome Biology</em>, <em>9(Suppl 2)</em>, S10.</p>
</div>
<div id="ref-Bird:2008:">
<p>Bird, S., Klein, E., Loper, E., &amp; Baldridge, J. (2008). Multidisciplinary instruction with the Natural Language Toolkit. In <em>Proceedings of the third workshop on issues in teaching computational linguistics</em> (pp. 62–70). Columbus, Ohio, USA.</p>
</div>
<div id="ref-Shen:2008">
<p>Shen, R., Nahnsen, T., Grover, C., &amp; Klein, E. (2008). Recognising textual entailment focusing on non-entailing text and hypothesis. <em>TAC 2008: Proceedings of the Fourth PASCAL Challenges Workshop on Recognizing Textual Entailment</em>.</p>
</div>
<div id="ref-Alex:2008:ITC">
<p>Alex, B., Grover, C., Haddow, B., Kabadjov, M., Klein, E., Matthews, M., et al. (2008b). The ITI TXM corpora: Tissue expressions and protein-protein interactions. In <em>Proceedings of the workshop on building and evaluating resources for biomedical text mining at the 6th international conference on language resources and evaluation (lrec 2008)</em>. Marrakech, Morocco.</p>
</div>
<div id="ref-Grover:2007:ARE">
<p>Grover, C., Haddow, B., Klein, E., Matthews, M., Nielsen, L. A., Tobin, R., &amp; Wang, X. (2007). Adapting a relation extraction pipeline for the BioCreAtIvE II task. In <em>Proceedings of the biocreative ii workshop 2007</em>. Madrid, Spain.</p>
</div>
<div id="ref-Klein:2006:CSN">
<p>Klein, E. (2006). Computational semantics in the <em>natural language toolkit</em>. In L. Cavedon &amp; I. Zukerman (Eds.), <em>Proceedings of the 2006 australasian language technology workshop 2006 (altw)</em> (pp. 26–41). Sydney.</p>
</div>
<div id="ref-Suh:2006:ECS">
<p>Suh, S., Halpin, H., &amp; Klein, E. (2006). Extracting common sense knowledge from wikipedia. <em>Proceedings of the Workshop on Web Content Mining with Human Language Technologies at ISWC</em>, <em>6</em>.</p>
</div>
<div id="ref-McNeill:2006:MSS">
<p>McNeill, F., Halpin, H., Klein, E., &amp; Bundy, A. (2006). Merging stories with shallow semantics. In F. Benamara &amp; P. Saint-Dizier (Eds.), <em>Proceedings of the workshop on knowledge and reasoning for language processing (kraq’06): 11th conference of the european chapter of the association for computational linguistics</em> (pp. 37–42). Trento, Italy: Association for Computational Linguistics.</p>
</div>
<div id="ref-Riedel:2005:GIE">
<p>Riedel, S., &amp; Klein, E. (2005). Genic interaction extraction with semantic and syntactic chains. In J. Cussens &amp; C. Nédellec (Eds.), <em>Proceedings of the workshop on learning language in logic (lll05), 22nd international conference on machine learning (icml 2005), 7 august 2005, bonn</em> (pp. 69–74).</p>
</div>
<div id="ref-Hachey:2005:SSIE">
<p>Hachey, B., Becker, M., Grover, C., &amp; Klein, E. (2005). Selective sampling for information extraction with a committee of classifiers. In <em>First PASCAL challenges workshop</em>. Southampton, UK.</p>
</div>
<div id="ref-Carroll:2005:STM">
<p>Carroll, J., Evans, R., &amp; Klein, E. (2005). Supporting text mining for e-Science: The challenges for Grid-enabled natural language processing. In <em>Proceedings of the fourth uk e-science programme all hands meeting (ahm 2005)</em>. Nottingham.</p>
</div>
<div id="ref-Grover:2004:FTM">
<p>Grover, C., Halpin, H., Klein, E., Leidner, J. L., Potter, S., Riedel, S., et al. (2004). A framework for text mining services. In <em>Proceedings of the third uk e-science programme all hands meeting (ahm 2004)</em>. Nottingham.</p>
</div>
<div id="ref-Klein:2004:ONS">
<p>Klein, E., &amp; Potter, S. (2004). An ontology for NLP services. In T. Declerck (Ed.), <em>Proceedings of workshop on a registry of linguistic data categories within an integrated language resource repository area, lrec 2004</em>.</p>
</div>
<div id="ref-Bugmann:2004:CBR">
<p>Bugmann, G., Klein, E., Lauria, S., &amp; Kyriacou, T. (2004). Corpus-based robotics: A route instruction example. In <em>8th international conference on intelligent autonomous systems (ias-8</em> (Vol. 8, pp. 96–103). Amsterdam, The Netherlands: IOS Press; IOS Press.</p>
</div>
<div id="ref-Hughes:2004:EDI">
<p>Hughes, B., Bird, S., Lee, H., &amp; Klein, E. (2004). Experiments with data-intensive nlp on a computational grid. <em>Proceedings of the International Workshop on Human Language Technology</em>.</p>
</div>
<div id="ref-Cathcart:2003:SMB">
<p>Cathcart, N., Carletta, J., &amp; Klein, E. (2003). A shallow model of backchannel continuers in spoken dialogue. In <em>Proceedings of the 10th conference of the european chapter of the association for computational linguistics (eacl10)</em> (pp. 51–58). Budapest.</p>
</div>
<div id="ref-Bos:2003:DDF">
<p>Bos, J., Klein, E., Lemon, O., &amp; Oka, T. (2003a). DIPPER: Description and formalisation of an information-state update dialogue system architecture. In <em>4th sigdial workshop on discourse and dialogue, acl</em>. Sapporo.</p>
</div>
<div id="ref-Byrne:2003:IRU">
<p>Byrne, K., &amp; Klein, E. (2003). Image retrieval using natural language and content-based techniques. In A. P. de Vries (Ed.), <em>Proceedings of the 4th dutch-belgian information retrieval wrokshop (dir 2003)</em> (pp. 57–62). Institute for Logic, Language; Computation.</p>
</div>
<div id="ref-Bos:2003:MCW">
<p>Bos, J., Klein, E., &amp; Oka, T. (2003b). Meaningful conversation with a mobile robot. In <em>Proceedings of the 10th conference of the european chapter of the association for computational linguistics (eacl10)</em> (pp. 71–74). Budapest.</p>
</div>
<div id="ref-Klein:2003:WSC">
<p>Klein, E. (2003). Why should a computer be anything like a human being? <em>I3 Magazine</em>, 31–32.</p>
</div>
<div id="ref-Lauria:2002:CNL">
<p>Lauria, S., Kyriacou, T., Bugmann, G., Bos, J., &amp; Klein, E. (2002a). Converting natural language route instructions into robot-executable procedures. In <em>Proceedings of the 2002 ieee international workshop on robot and human interactive communication (roman’02)</em> (pp. 223–228). Berlin.</p>
</div>
<div id="ref-Bugmann:2002:IBL">
<p>Bugmann, G., Lauria, S., Kyriacou, T., Bos, J., &amp; Klein, E. (2002). Instruction-based learning for mobile robots.</p>
</div>
<div id="ref-Atterer:2002:ILP">
<p>Atterer, M., &amp; Klein, E. (2002). Integrating linguistic and performance-based constraints for assigning phrase breaks. In <em>Proceedings of coling 2002</em> (pp. 29–35).</p>
</div>
<div id="ref-Lauria:2002:MRP">
<p>Lauria, S., Bugmann, G., Kyriacou, T., &amp; Klein, E. (2002b). Mobile robot programming using natural language. <em>Robotics and Autonomous Systems</em>, <em>38</em>(3/4), 171–181.</p>
</div>
<div id="ref-Asudeh:2002:SCP">
<p>Asudeh, A., &amp; Klein, E. (2002). Shape conditions and phonological context. In F. van Eynde, L. Hellan, &amp; D. Beermann (Eds.), <em>Proceedings of the 8th international conference on head-driven phrase structure grammar</em> (pp. 20–30). Stanford, CA: CSLI Publications.</p>
</div>
<div id="ref-Theobalt:2002:TGD">
<p>Theobalt, C., Bos, J., Chapman, T., Espinosa-Romero, A., Fraser, M., Hayes, G., et al. (2002). Talking to Godot: Dialogue with a mobile robot. In <em>Proceedings of 2002 ieee/rsj international conference on intelligent robots and system</em> (pp. 1338–1343).</p>
</div>
<div id="ref-Grover:2002:XNT">
<p>Grover, C., Klein, E., Lascarides, A., &amp; Lapata, M. (2002). XML-based NLP tools for analysing and annotating medical language. In <em>Proceedings of the 2nd workshop on nlp and xml (nlpxml-2002), coling 2002</em> (pp. 29–36).</p>
</div>
<div id="ref-Lauria:2001:IBL">
<p>Lauria, S., Bugmann, G., Kyriacou, T., &amp; Klein, E. (2001a). Instruction based learning: How to instruct a personal robot to find hal. In <em>Procedings of the 9th european workshop on learning robots (ewlr-9)</em> (pp. 15–24). Prague.</p>
</div>
<div id="ref-Ellison:2001:BAP">
<p>Ellison, T. M., &amp; Klein, E. (2001). The best of all possible words (review article). <em>Journal of Linguistics</em>, <em>37</em>(1), 127–143.</p>
</div>
<div id="ref-Lauria:2001:TPR">
<p>Lauria, S., Bugmann, G., Kyriacou, T., Bos, J., &amp; Klein, E. (2001b). Training personal robots using natural language instruction. <em>IEEE Intelligent Systems</em>, <em>16</em>(3), 38–45.</p>
</div>
<div id="ref-Bugmann:2001:UVI">
<p>Bugmann, G., Lauria, S., Kyriacou, T., Klein, E., Bos, J., &amp; Coventry, K. (2001). Using verbal instruction for route learning: Instruction analysis. In <em>Proceedings of timr 01 — towards intelligent mobile robots</em>. Manchester.</p>
</div>
<div id="ref-Klein:2000:CBA">
<p>Klein, E. (2000a). A constraint-based approach to English prosodic constituents. In <em>38th annual meeting of the association for computational linguistics: Proceedings of the conference: 1–8 october 2000, hong kong</em> (pp. 217–224). Association for Computational Linguistics.</p>
</div>
<div id="ref-Grover:2000:DCL">
<p>Grover, C., Holt, A., Klein, E., &amp; Moens, M. (2000). Designing a controlled language for interactive model checking. In <em>CLAW 2000: Proceedings of the third international workshop on controlled language applications, 29-30 april 2000</em> (pp. 90–104). Seattle.</p>
</div>
<div id="ref-Holt:2000:NLS">
<p>Holt, A., Klein, E., &amp; Grover, C. (2000). Natural language specifications for hardware verification. <em>Journal of Language and Computation</em>, <em>1</em>(2), 275–282.</p>
</div>
<div id="ref-Klein:2000:PCH">
<p>Klein, E. (2000b). Prosodic constituency in HPSG. In R. Cann, C. Grover, &amp; P. Miller (Eds.), <em>Grammatical interfaces in HPSG</em> (pp. 169–200). CSLI Publications.</p>
</div>
<div id="ref-Holt:1999:SDS">
<p>Holt, A., &amp; Klein, E. (1999). A semantically-derived subset of English for hardware verification. In <em>37th annual meeting of the association for computational linguistics: Proceedings of the conference: 20–26 june 1999, university of maryland, college park, maryland, usa</em> (pp. 451–456). Association for Computational Linguistics.</p>
</div>
<div id="ref-Holt:1999:NLH">
<p>Holt, A., Klein, E., &amp; Grover, C. (1999). Natural language for hardware verification: Semantic interpretation and model checking. In <em>Proceedings of icos-1: Inference in computational semantics, august 15, 1999</em> (pp. 133–137). Amsterdam: Institute for Logic, Language; Computation, University of Amsterdam.</p>
</div>
<div id="ref-Klein:1995:ACF">
<p>Klein, E. (1995). Alignment constraints in French. In R. Walker, O. Lorentz, &amp; H. Kubozono (Eds.), <em>Papers on stress, accent, and alignment</em> (Vol. 4, pp. 13–20). Linguistics Research Center, UCSC.</p>
</div>
<div id="ref-Bird:1994:PAT">
<p>Bird, S., &amp; Klein, E. (1994). Phonological analysis in typed feature systems. <em>Computational Linguistics</em>, <em>20</em>(3), 455–491.</p>
</div>
<div id="ref-Klein:1993:SMV">
<p>Klein, E. (1993). An HPSG approach to Sierra Miwok verb stems. In T. M. Ellison &amp; J. M. Scobbie (Eds.), <em>Edinburgh working papers in cognitive science, vol. 8: Computational phonology</em> (pp. 19–35). Centre for Cognitive Science, University of Edinburgh.</p>
</div>
<div id="ref-Bird:1993:EHP">
<p>Bird, S., &amp; Klein, E. (1993). <em>Enriching HPSG phonology</em> (Research Paper No. EUCCS/RP-56). University of Edinburgh.</p>
</div>
<div id="ref-Kamareddine:1993:NPT">
<p>Kamareddine, F., &amp; Klein, E. (1993). Nominalization, predication and type containment. <em>Journal of Logic, Language and Information</em>, <em>2</em>, 171–215.</p>
</div>
<div id="ref-Gazdar:1993:OCC">
<p>Gazdar, G., Klein, E., &amp; Pullum, G. K. (Eds.). (1993). <em>Order, concord, and constituency</em>. Dordrecht: Foris; Foris.</p>
</div>
<div id="ref-Klein:1992:DRD">
<p>Klein, E., Moens, M., &amp; Veltman, F. (1992). Default reasoning and dynamic interpretation of natural language. In W. van der Hoek, J.-J. C. Meyer, Y. H. Tan, &amp; C. Witteveen (Eds.), <em>Non-monotonic reasoning and partial semantics</em> (pp. 21–36). Chichester: Ellis Horwood.</p>
</div>
<div id="ref-Bernsen:1992:ESR">
<p>Bernsen, N. O., Granström, B., Giachin, E., Klein, E., Mariani, J., Nooteboom, S., et al. (1992). <em>European strategic research in speech and natural language</em>. Edinburgh: European Network of Excellence for Language; Speech.</p>
</div>
<div id="ref-Klein:1992:M">
<p>Klein, E. (1992). Metarules. In <em>International encyclopedia of linguistics</em>. Oxford: Oxford University Press.</p>
</div>
<div id="ref-Kamareddine:1992:NPT">
<p>Kamareddine, F., &amp; Klein, E. (1992). <em>Nominalization, predication and type containment</em> (Research Paper No. HCRC/RP-30). University of Edinburgh.</p>
</div>
<div id="ref-Pineda:1991:GLL">
<p>Pineda, L. A., &amp; Klein, E. (1991). A graphical and logical language for a simple design domain. In P. J. W. ten Hagen &amp; P. J. Veerkamp (Eds.), <em>Intelligent cad systems iii: Practical experience and evaluation</em> (pp. 103–130). Berlin: Springer-Verlag.</p>
</div>
<div id="ref-Klein:1991:C">
<p>Klein, E. (1991a). Comparatives. In A. von Stechow &amp; D. Wunderlich (Eds.), <em>Semantics: An international handbook of contemporary research</em> (pp. 673–691). Berlin: de Gruyter.</p>
</div>
<div id="ref-Klein:1991:NLS">
<p>Klein, E., &amp; Veltman, F. (Eds.). (1991). <em>Natural language and speech: Symposium proceedings, brussels, november 26/27, 1991</em>. Berlin: Springer-Verlag; Springer-Verlag.</p>
</div>
<div id="ref-Kamareddine:1991:NPT">
<p>Kamareddine, F., &amp; Klein, E. (1991). <em>Nominalization, predication and type containment</em> (CS Report Series No. CSC 91/R12). Glasgow: University of Glasgow.</p>
</div>
<div id="ref-Klein:1991:PDT">
<p>Klein, E. (1991b). Phonological data types. In E. Klein &amp; F. Veltman (Eds.), <em>Natural language and speech: Symposium proceedings, brussels, november 26/27, 1991</em>. Berlin: Springer-Verlag.</p>
</div>
<div id="ref-Klein:1991:PSA">
<p>Klein, E., &amp; Bird, S. (1991). Phonological structure and abstract specification. In <em>Actes du xiième congrès international des sciences phonétiques</em> (Vol. 5, pp. 110–113). Aix-en-Provence: Publications de l’Université de Provence.</p>
</div>
<div id="ref-Zeevat:1991:UCG">
<p>Zeevat, H., Klein, E., &amp; Calder, J. (1991). Unification categorial grammar. <em>Lingua E Stile</em>, <em>26</em>(4), 499–527.</p>
</div>
<div id="ref-Veltman:1990:DRD">
<p>Veltman, F., Klein, E., &amp; Moens, M. (1990). Default reasoning and dynamic interpretation of natural language. In <em>ESPRIT 90: Proceedings of the 7th annual ESPRIT conference</em> (pp. 52–65). Brussels.</p>
</div>
<div id="ref-Bird:1990:PE">
<p>Bird, S., &amp; Klein, E. (1990). Phonological events. <em>Journal of Linguistics</em>, <em>26</em>, 33–56.</p>
</div>
<div id="ref-Klein:1990:SGI">
<p>Klein, E., &amp; Pineda, L. A. (1990). Semantics and graphical information. In D. Diaper (Ed.), <em>Human-computer interaction—INTERACT ’90: Proceedings of the third IFIP conference</em> (pp. 485–491). New York: Elsevier.</p>
</div>
<div id="ref-Klein:1989:NMVb">
<p>Klein, E., &amp; Stainton-Ellis, K. (1989). A note on multiple VP ellipsis. <em>Linguistics</em>, <em>27</em>, 1119–1124.</p>
</div>
<div id="ref-Klein:1989:DD">
<p>Klein, E., &amp; Moens, M. (1989a). Dialogue and discourse. In <em>ESPRIT ’89: Proceedings of the 6th annual esprit conference</em> (pp. 1112–1117). Dordrecht: Kluwer.</p>
</div>
<div id="ref-Moens:1989:EGU">
<p>Moens, M., Calder, J., Klein, E., Reape, M., &amp; Zeevat, H. (1989). Expressing generalizations in unification-based grammar formalisms. In <em>Proceedings of the 4th conference of the european chapter of the association for computational linguistics</em> (pp. 174–181). University of Manchester Institute of Science; Technology.</p>
</div>
<div id="ref-Klein:1989:GF">
<p>Klein, E. (1989). Grammar frameworks. In H. Schnelle &amp; N. O. Bernsen (Eds.), <em>Logic and linguistics vol. 2: Research directions in cognitive science: European perspectives</em> (pp. 71–107). Hillsdale, N.J.: Lawrence Erlbaum Associates.</p>
</div>
<div id="ref-Bird:1989:PE">
<p>Bird, S., &amp; Klein, E. (1989). <em>Phonological events</em> (Research Paper No. EUCCS/RP-24). University of Edinburgh.</p>
</div>
<div id="ref-Klein:1989:DIN">
<p>Klein, E., &amp; Moens, M. (1989b). The dynamic interpretation of natural language. In <em>ESPRIT ’89: Proceedings of the 6th annual esprit conference</em> (pp. 1100–1107). Dordrecht: Kluwer.</p>
</div>
<div id="ref-Gazdar:1988:CS">
<p>Gazdar, G., Pullum, G. K., Carpenter, R., Klein, E., Hukari, T. E., &amp; Levine, R. D. (1988). Category structures. <em>Computational Linguistics</em>, <em>14</em>(1), 1–19.</p>
</div>
<div id="ref-Pineda:1988:GUD">
<p>Pineda, L. A., Klein, E., &amp; Lee, J. (1988). GRAFLOG: Understanding drawings through natural language. <em>Computer Graphics Forum</em>, <em>7</em>, 97–103.</p>
</div>
<div id="ref-Calder:1988:UCG">
<p>Calder, J., Klein, E., &amp; Zeevat, H. (1988). Unification categorial grammar: A concise, extendable grammar for natural language processing. In <em>Proceedings of the 12th international conerence on computational linguistics</em>. Budapest.</p>
</div>
<div id="ref-Klein:1987:CPU">
<p>Klein, E., &amp; Benthem, J. van (Eds.). (1987). <em>Categories, polymorphism and unification</em>. Centre for Cognitive Science, University of Edinburgh; Institute for Language, Logic; Information, University of Amsterdam.</p>
</div>
<div id="ref-Gazdar:1987:CS">
<p>Gazdar, G., Pullum, G. K., Carpenter, R., Klein, E., Hukari, T. E., &amp; Levine, R. D. (1987). <em>Category structures</em> (Report No. CSLI-87-102). Stanford, Ca.: Center for the Study of Language; Information.</p>
</div>
<div id="ref-Klein:1987:DUC">
<p>Klein, E. (1987a). DRT in Unification Categoria Grammar. In B. G. T. Lowden (Ed.), <em>Proceedings of alvey workshop on formal semantics in natural language processing, march 6 1987</em>. University of Essex.</p>
</div>
<div id="ref-Calder:1987:NLP">
<p>Calder, J., Klein, E., &amp; Moens, M. (Eds.). (1987a). <em>Natural language processing, unification and grammar formalisms: Proceedings of an alvey/SERC sponsored workshop, held at university of stirling, june 10–12, 1987</em>. Centre for Cognitive Science, University of Edinburgh.</p>
</div>
<div id="ref-Calder:1987:PDP">
<p>Calder, J., Klein, E., Moens, M., &amp; Zeevat, H. (1987b). <em>Problems of dialogue parsing</em> (Research Paper No. EUCCS/RP-1). University of Edinburgh.</p>
</div>
<div id="ref-Zeevat:1987:UCG">
<p>Zeevat, H., Klein, E., &amp; Calder, J. (1987). <em>Unification categorial grammar</em> (Research Paper No. EUCCS/RP-21). University of Edinburgh.</p>
</div>
<div id="ref-Klein:1987:VED">
<p>Klein, E. (1987b). VP ellipsis in DR theory. In J. Groenendijk, D. de Jongh, &amp; M. Stokhof (Eds.), <em>Studies in discourse representation theory and the theory of generalized quantifiers</em>. Dordrecht: Foris Publications; Foris Publications.</p>
</div>
<div id="ref-Johnson:1986:DAP">
<p>Johnson, M., &amp; Klein, E. (1986a). Discourse, anaphora and parsing. In <em>Proceedings of the 11th international conference on computational linguistics</em> (pp. 669–675). Bonn: Bonn University.</p>
</div>
<div id="ref-Johnson:1986:DAPb">
<p>Johnson, M., &amp; Klein, E. (1986b). <em>Discourse, anaphora and parsing</em> (Report No. CSLI-86-63). Stanford, Ca.: Center for the Study of Language; Information.</p>
</div>
<div id="ref-Gazdar:1985:GPS">
<p>Gazdar, G., Klein, E., Pullum, G., &amp; Sag, I. (1985). <em>Generalized phrase structure grammar</em>. London: Basil Blackwell; Basil Blackwell.</p>
</div>
<div id="ref-Klein:1985:TDT">
<p>Klein, E., &amp; Sag, I. A. (1985). Type-driven translation. <em>Linguistics and Philosophy</em>, <em>8</em>, 163–201.</p>
</div>
<div id="ref-Gazdar:1982:CSU">
<p>Gazdar, G., Klein, E., Pullum, G. K., &amp; Sag, I. A. (1982). Coordinate structure and unbounded dependencies. In M. Barlow, D. Flickinger, &amp; I. A. Sag (Eds.), <em>Developments in generalized phrase structure grammar: Stanford working papers in grammatical theory</em> (Vol. 2, pp. 38–68). Bloomington, Ind.: Indiana University Linguistics Club.</p>
</div>
<div id="ref-Klein:1982:STC">
<p>Klein, E., &amp; Sag, I. A. (1982). Semantic type and control. In M. Barlow, D. Flickinger, &amp; I. A. Sag (Eds.), <em>Developments in generalized phrase structure grammar: Stanford working papers in grammatical theory</em> (Vol. 2, pp. 1–25). Bloomington, Ind.: Indiana University Linguistics Club.</p>
</div>
<div id="ref-Klein:1982:IAC">
<p>Klein, E. (1982). The interpretation of adjectival comparatives. <em>Journal of Linguistics</em>, <em>18</em>, 113–136.</p>
</div>
<div id="ref-Sag:1982:SSE">
<p>Sag, I. A., &amp; Klein, E. (1982). The syntax and semantics of English expletive pronoun constructions. In M. Barlow, D. Flickinger, &amp; I. A. Sag (Eds.), <em>Developments in generalized phrase structure grammar: Stanford working papers in grammatical theory</em> (Vol. 2, pp. 92–136). Bloomington, Ind.: Indiana University Linguistics Club.</p>
</div>
<div id="ref-Klein:1981:DD">
<p>Klein, E. (1981a). Defensible descriptions. In F. Heny (Ed.), <em>Ambiguities in intensional contexts</em> (pp. 83–102). Dordrecht: D. Reidel.</p>
</div>
<div id="ref-Klein:1981:IAN">
<p>Klein, E. (1981b). The interpretation of adjectival, nominal and adverbial comparatives. In J. A. G. Groenendijk, T. M. V. Janssen, &amp; M. B. J. Stokhof (Eds.), <em>Formal methods in the study of language: Part 2</em> (pp. 381–398). Amsterdam: Mathematisch Centrum.</p>
</div>
<div id="ref-Klein:1981:SSN">
<p>Klein, E. (1981c). The syntax and semantics of nominal comparatives. In M. Moneglia (Ed.), <em>Atti de seminario su tempo e verbale strutture quantificate in forma logica</em> (pp. 223–253). Florence: Presso l’Accademia della Crusca.</p>
</div>
<div id="ref-Klein:1980:SPC">
<p>Klein, E. (1980). A semantics for positive and comparative adjectives. <em>Linguistics and Philosophy</em>, <em>4</em>, 1–45.</p>
</div>
<div id="ref-Klein:1979:FRA">
<p>Klein, E. (1979). On formalizing the referential/attributive distinction. <em>Journal of Philosophical Logic</em>, <em>8</em>, 333–337.</p>
</div>
<div id="ref-Gazdar:1978:BCL">
<p>Gerald Gazdar, E. K., &amp; Pullum, G. K. (Eds.). (1978). <em>A bibliography of contemporary linguistic research</em>. New York: Garland Press; Garland Press.</p>
</div>
</div>
