<% years = bib.all_values(:year).sort.reverse; years.each do |year| %>
<% lst = bib["@entry[year=#{year}]"] %>
<h3 class="year">
    <%= year %>
</h3>
<!--<div id="bibitem">-->
    <% lst.each do |entry| %>
        <%= embed("entry.rhtml", :entry => entry) %>
    <% end %>
<!--</div>-->
<% end %>